.filter-reload {
  cursor: pointer;
  svg {
    fill: #00f0f9;
  }
}

.filter-reload__icon {
  position: relative;
  transition: all 0.2s ease;
  &::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    width: 19px;
    height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #00f0f9, inset 0 0 10px 1px #00f0f9;
    opacity: 0;
    transition: all 0.2s ease;
  }
}

.filter-reload:hover {
  svg {
    fill: #00f6ff;
  }
  .filter-reload__icon {
    transform: rotate(15deg);
    &::before {
      opacity: 1;
    }
  }
}