.games.assortment__games
  ul.games__list
    li.games__item.active.cs-go
      .games__icon.cs-go__icon
      .games__info
        .games__pieces 10300 шт
        .games__inter /
        .games__value 7000 $
    li.games__item.dota
      .games__icon.dota__icon
      .games__info
        .games__pieces 10300 шт
        .games__inter /
        .games__value 7000 $
    li.games__item.h1z1
      .games__icon.h1z1__icon
      .games__info
        .games__pieces 10300 шт
        .games__inter /
        .games__value 34000 $
    li.games__item.team-fortress
      .games__icon.team-fortress__icon
      .games__info
        .games__pieces 10300 шт
        .games__inter /
        .games__value 120000 $  