nav.main-nav.main-header__nav
  ul.main-nav__list
    li.main-nav__item
      a.main-nav__link(href="#assortment")
        .main-nav__icon
          svg(width="20px", height="17px")
            use(xlink:href="#icon-assortment")
        span.main-nav__text Ассортимент
      include ../item-buy/item-buy
    li.main-nav__item
      a.main-nav__link(href="#guarantees")
        .main-nav__icon.main-nav__icon--guarantees
          svg(width="10px", height="10px")
            use(xlink:href="#icon-guarantees-top")
          svg(width="8px", height="9px")
            use(xlink:href="#icon-guarantees-bot")
        span.main-nav__text Гарантии
    li.main-nav__item
      a.main-nav__link(href="#how-buy")
        .main-nav__icon
          svg(width="17px", height="17px")
            use(xlink:href="#icon-how-buy")
        span.main-nav__text Как купить?
    li.main-nav__item
      a.main-nav__link(href="#statistics")
        .main-nav__icon
          svg(width="17px", height="17px")
            use(xlink:href="#icon-statistics")
        span.main-nav__text Статистика