section.banner
  .banner__image
    img(src="images/banner_image.png", alt="banner")
  p.banner__text Возможна продажа аккаунта (бота) с предметами,
    span.banner__text-big чтобы избежать холда при передаче