.banner {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 180px;
  padding-right: 35px;
  margin-bottom: 60px;
  background-color: #085568;
  background-image: url("../images/banner_lightning-bot.png"), url("../images/banner_shine.png"), url("../images/banner_bg.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 92% 100%, -60px 70%, center;
  background-size: auto, auto, cover;
  &::before {
    content: "";
    position: absolute;
    left: 230px;
    top: 0;
    width: 355px;
    height: 241px;
    background: url("../images/banner_lightning-left.png") center no-repeat;
    pointer-events: none;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 355px;
    height: 241px;
    background: url("../images/banner_lightning-right.png") 5px -85px no-repeat;
    pointer-events: none;
  } //for IE
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    height: 180px;
  }
}

.banner__text {
  color: #ffffff;
  font-size: 25px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.banner__text-big {
  display: block;
  font-size: 35px;
  line-height: 45px;
}

.banner__image {
  position: absolute;
  left: -88px;
  top: -70px;
}