.slider.filters__hold-slider
  .slider__min 0
  .slider__box
    .slider__btn-min.slider__btn
    .slider__line
      .slider__gradient
        .slider__gradient-inner
      .slider__steps
        .slider__step
        .slider__step
        .slider__step
        .slider__step
        .slider__step
        .slider__step
        .slider__step
    .slider__btn-max.slider__btn
  .slider__max 7