footer.main-footer
  .container.main-footer__container
    .main-footer__logo
      img(src="images/logo-footer.png", alt="tewish-logo")
    .main-footer__copyright
      p © Tewish seller 2018. All right reserved.
    ul.main-footer__nav
      li.main-footer__nav-item
        a.main-footer__nav-link(href="#") Статистика
      li.main-footer__nav-item
        a.main-footer__nav-link(href="#") Ассортимент
      li.main-footer__nav-item
        a.main-footer__nav-link(href="#") Гарантии
      li.main-footer__nav-item
        a.main-footer__nav-link(href="#") Как купить?
    ul.main-footer__socials
      li.main-footer__socials-item
        a.main-footer__socials-link(href="#")
          svg(width="24px", height="24px")
            use(xlink:href="#icon-yh")
      li.main-footer__socials-item
        a.main-footer__socials-link(href="#")
          svg(width="24px", height="24px")
            use(xlink:href="#icon-telegram")
      