section.how-buy#how-buy
  h2.title.how-buy__title
    span.title__icon.how-buy__title-icon
      svg(width="29px", height="29px")
        use(xlink:href="#icon-how-buy")
    span.title__text Как купить?
  .how-buy__inner
    .how-buy__min
      p.how-buy__min-text Минимальная сделка <span class="how-buy__min-value">1 000 $</span>
    .how-buy__links
      p.how-buy__links-intro Если хотите приобрести <br> предметы напишите мне сюда
      .how-buy__telegram-yh
        a.how-buy__telegram(href="#")
          .how-buy__telegram-icon
            svg(width="39px", height="39px")
              use(xlink:href="#icon-telegram")
          .how-buy__telegram-text @tesla_yh
        a.how-buy__yh(href="#")
          .how-buy__yh-icon
            svg(width="39px", height="39px")
              use(xlink:href="#icon-yh")
          .how-buy__yh-text Tewish <br> members/229371/
      .how-buy__steam-wrap
        a.how-buy__steam(href="#")
          .how-buy__steam-icon
            svg(width="39px", height="39px")
              use(xlink:href="#icon-steam")
          .how-buy__steam-text Tewish <br> id64:76561198012199049
          