.filters
  include ../filter-reload/filter-reload
  include ../filter-game/filter-game
  include ../filter-bots/filter-bots
  include ../filter-price/filter-price
  include ../filter-hold/filter-hold
  include ../filter-resize/filter-resize
  include ../filter-search/filter-search