.loader.hidden
  .loader__icon
    svg.loader__wings(width="292px", height="67px")
        use(xlink:href="#icon-loader")
    .loader__spinner
      svg.loader__wings(width="86px", height="86px")
        use(xlink:href="#icon-spinner")
