.from-to.assortment__from-to
  .from-to__from
    label(for="inpun-min-id") От
    input(type="text", name="filter-from", value="1", id="inpun-min-id")
  .from-to__to
    label(for="inpun-max-id") До
    input(type="text", name="filter-to", value="6", id="inpun-max-id")