.pop-up.hidden
  .pop-up__top
    .pop-up__block
      svg(width="38px", height="12px")
        use(xlink:href="#icon-block")
    .pop-up__time 24 : 12 : 05
    .pop-up__stattrack ST
    .pop-up__model
      .pop-up__model-weapon Souvenir M4A1-S
      .pop-up__model-name Fire serpent
      .pop-up__model-quality Factory new
  .pop-up__bottom
    .pop-up__stickers
      .pop-up__sticker
    .pop-up__drop Drop reason: Crafted
    .pop-up__float
      .pop-up__float-text Float:
      .pop-up__float-value 0.10797890
      .pop-up__float-scale
        .pop-up__float-marker
        .pop-up__float-line
          .pop-up__float-fn.pop-up__float-el(title="Factory New")
          .pop-up__float-mw.pop-up__float-el(title="Minimal Wear")
          .pop-up__float-ft.pop-up__float-el(title="Field Tested")
          .pop-up__float-ww.pop-up__float-el(title="Well-Worn")
          .pop-up__float-bs.pop-up__float-el(title="Battle-Scarred")