.pop-up {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 5;
}
.pop-up.hidden {
  display: none;
}
.pop-up__inner {
  box-sizing: border-box;
  top: 0;
  left: 0;
  position: absolute;
  border: 1px solid #00c6cd;
  width: 273px;
  margin-left: -136px;
  margin-top: 7.5px;
  z-index: 6;

  &::before {
    content: "";
    position: absolute;
    top: -7.5px;
    left: 50%;
    margin-left: -7.5px;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 1px solid #00c6cd;
    background-color: #096a83;
    transform: rotate(45deg);
    z-index: 2;
  }
}
.pop-up__top {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 108px;
  padding: 10px 20px 15px 20px;
  background: linear-gradient(to right, #096b81, #096a83)
}
.pop-up__bottom {
  padding: 15px 20px 23px 20px;
  background: linear-gradient(to right, #0a616d, #0a616d)
}
.pop-up__block {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 38px;
  height: 15px;

  svg {
    fill: #ffb202;
  }
}
.pop-up__time {
  position: absolute;
  top: 11px;
  left: 69px;
  font-size: 11px;
  line-height: 11px;
  color: #ffb202;
}
.pop-up__stattrack {
  position: absolute;
  top: 10px;
  right: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 150px;
  transform: rotate(45deg);
  background-color: #43853f;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 19px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0 1px 3px 0 #000000;
}
.pop-up__model-weapon {
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5px;
}
.pop-up__model-name {
  display: inline-block;
  color: #ffffff;
  margin-right: 4px;
}
.pop-up__model-quality {
  position: relative;
  display: inline-block;
  color: #00f6ff;
  padding-left: 9px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 1px;
    height: 11px;
    background-color: #00a4ab;
  }
}
.pop-up__stickers {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}
.pop-up__sticker {
  margin-right: 10px;
  img {
    max-height: 50px;
  }
}
.pop-up__drop {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #00f6ff;
  margin-bottom: 10px;
}
.pop-up__float {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}
.pop-up__float-text {
  margin-bottom: 14px;
}
.pop-up__float-scale {
  position: relative;
  width: 100%;
  padding-top: 6px;
}
.pop-up__float-line {
  display: flex;
  width: 100%;
  height: 8px;
}
.pop-up__float-el {
  height: 100%;
}
.pop-up__float-fn {
  width: 8.15%;
  background-color: #178391;
}
.pop-up__float-mw {
  width: 8.58%;
  background-color: #76b400;
}
.pop-up__float-ft {
  width: 27%;
  background-color: #e5bf26;
}
.pop-up__float-ww {
  width: 13.7%;
  background-color: #fc7e23;
}
.pop-up__float-bs {
  width: 42.5%;
  background-color: #ff3a32;
}
.pop-up__float-marker {
  position: absolute;
  top: 0;
  left: 8.15%;
  margin-left: -6px;
  width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ffffff;
}