<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Тестовое задание")
    title Seller Tewish
    include ../common/favicon
    include ../common/styles
  body
    include ../common/svg
    include ../../blocks/main-header/main-header
    main
      .container
        include ../../blocks/banner/banner
        include ../../blocks/assortment/assortment
        include ../../blocks/guarantees/guarantees
        include ../../blocks/how-buy/how-buy
        include ../../blocks/statistics/statistics
    include ../../blocks/main-footer/main-footer
    include ../common/scripts
