.catalog {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 924px;
  overflow: hidden;
  width: 100%;
  z-index: 3;
}

.catalog.big {
  .catalog__product {
    width: 131px;
    height: 131px;
    margin-top: 1px;
    margin-right: 1px;
  }
  .catalog__product:nth-child(9n) {
    margin-right: 0;
  }
  .product__top {
  }
  .product__block {
    width: 48px;
    height: 15px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .product__weapon {
  }
  .product__time {
    font-size: 11px;
  }
  .product__bottom {
    min-height: 19px
  }
  .product__sticker {
    img {
      max-height: 19px;
    }
  }
}

.catalog.small {
  .catalog__product {
    width: 107px;
    height: 107px;
    margin-top: 1px;
    margin-right: 1px;
  }
  .catalog__product:nth-child(11n) {
    margin-right: 0;
  }
  .product__top {
  }
  .product__block {
    width: 44px;
    height: 13px;
  }
  .product__weapon {
  }
  .product__bottom {
    min-height: 16px
  }
  .product__time {
    font-size: 10px;
    font-weight: 700;
    text-transform: lowercase;
  }
  .product__sticker {
    img {
      max-height: 16px;
    }
  }
}