- var stickers = ["images/sticker_cloud9-cologne-2014.png", "images/sticker_eco-rush.png","images/sticker_esl-wolf.png","images/sticker_one-shot-one-kill.png"]
.catalog.big
  include ../product/product
  +product("bs", "st", "", "", ...[stickers[1], stickers[2]])
  +product("fn", "", "", "", ...[stickers[3]])
  +product("bs", "", "", "", ...[stickers[1], stickers[2], stickers[0]])
  +product("mw", "", "", "", ...[])
  +product("bs", "", "", "", ...[stickers[1], stickers[2]])
  +product("ww", "st", "", "", ...[])
  +product("bs", "", "", "", ...[])
  +product("fn", "st", "", "", ...[])
  +product("bs", "", "", "", ...[stickers[2]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2], stickers[3]])
  +product("ft", "st", "blocked", "", ...[stickers[3]])
  +product("bs", "", "", "", ...[stickers[1], stickers[2], stickers[0]])
  +product("ww", "", "blocked", "", ...[])(class="block")
  +product("bs", "", "blocked", "24:12:05", ...[stickers[1], stickers[2], stickers[2]], stickers[1], stickers[1])(class="block")
  +product("fn", "st", "", "", ...[])
  +product("bs", "", "", "", ...[])
  +product("mw", "st", "", "", ...[])
  +product("bs", "", "", "", ...[stickers[2]])
  +product("ft", "st", "blocked", "00:11:20", ...[stickers[1], stickers[2]])
  +product("bs", "", "", "", ...[stickers[3]])
  +product("ww", "", "blocked", "32:14:11", ...[stickers[1], stickers[2], stickers[0]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2]])
  +product("fn", "", "", "", ...[stickers[3]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2]])
  +product("ft", "st", "", "", ...[stickers[3], stickers[0], stickers[1]])
  +product("bs", "", "", "", ...[stickers[1], stickers[2], stickers[0]])
  +product("fn", "", "", "", ...[])
  +product("bs", "", "", "", ...[stickers[1], stickers[2]])
  +product("bs", "st", "", "", ...[])
  +product("ww", "", "", "", ...[])
  +product("bs", "st", "", "", ...[])
  +product("bs", "", "", "", ...[stickers[2]])
  +product("ft", "st", "blocked", "20:19:05", ...[stickers[1], stickers[3], stickers[3]])
  +product("bs", "", "", "", ...[stickers[3]])
  +product("bs", "", "", "", ...[stickers[1], stickers[2], stickers[0]])
  +product("bs", "", "blocked", "", ...[])(class="block")
  +product("ft", "", "blocked", "24:12:05", ...[stickers[1], stickers[2], stickers[2]], stickers[0], stickers[1])(class="block")
  +product("bs", "st", "", "", ...[])
  +product("mw", "", "", "", ...[])
  +product("bs", "st", "", "", ...[])
  +product("bs", "", "", "", ...[stickers[2]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2]])
  +product("bs", "", "", "", ...[stickers[3]])
  +product("ww", "", "", "", ...[stickers[1], stickers[2], stickers[0]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2]])
  +product("bs", "", "", "", ...[stickers[3]])
  +product("ft", "st", "", "", ...[stickers[1], stickers[2]])
  +product("bs", "", "", "", ...[stickers[3]])
  +product("bs", "", "blocked", "07:12:15", ...[stickers[1], stickers[2], stickers[2]], stickers[1], stickers[2])(class="block")
  +product("bs", "", "", "", ...[stickers[1], stickers[2], stickers[0]])
  +product("mw", "st", "blocked", "", ...[])
  +product("bs", "", "", "", ...[stickers[1], stickers[2]])
  +product("bs", "st", "", "", ...[])
  +product("bs", "", "", "", ...[])
  +product("bs", "st", "", "", ...[])
  +product("mw", "", "", "", ...[stickers[2]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2], stickers[3]])
  +product("bs", "", "", "", ...[stickers[3]])
  +product("fn", "", "", "", ...[stickers[1], stickers[2], stickers[0]])
  +product("bs", "", "blocked", "", ...[])(class="block")
  +product("bs", "", "blocked", "24:12:05", ...[stickers[1], stickers[2], stickers[2]], stickers[1], stickers[1])(class="block")
  +product("bs", "st", "", "", ...[])
  +product("bs", "", "", "", ...[])
  +product("bs", "st", "", "", ...[])
  +product("bs", "", "", "", ...[stickers[2]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2]])
  +product("bs", "", "", "", ...[stickers[3]])
  +product("bs", "", "", "", ...[stickers[1], stickers[2], stickers[0]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2]])
  +product("bs", "", "", "", ...[stickers[3]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2]])
  +product("ww", "", "", "", ...[stickers[3]])
  +product("bs", "", "", "12:10:24", ...[stickers[1], stickers[2], stickers[0]])
  +product("bs", "", "", "", ...[])
  +product("bs", "", "", "", ...[stickers[1], stickers[2]])
  +product("fn", "st", "", "", ...[])
  +product("mw", "", "", "", ...[])
  +product("bs", "st", "", "", ...[])
  +product("bs", "", "", "", ...[stickers[2]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2], stickers[3]])
  +product("bs", "", "", "", ...[stickers[3]])
  +product("bs", "", "", "", ...[stickers[1], stickers[2], stickers[0]])
  +product("bs", "", "blocked", "", ...[])(class="block")
  +product("bs", "", "blocked", "24:12:05", ...[stickers[1], stickers[2], stickers[2]], stickers[1], stickers[1])(class="block")
  +product("bs", "st", "", "", ...[])
  +product("bs", "", "", "", ...[])
  +product("bs", "st", "", "", ...[])
  +product("bs", "", "", "", ...[stickers[2]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2]])
  +product("bs", "", "", "", ...[stickers[3]])
  +product("bs", "", "", "", ...[stickers[1], stickers[2], stickers[0]])
  +product("bs", "st", "", "", ...[stickers[1], stickers[2]])
  +product("bs", "", "", "", ...[stickers[3]])