header.main-header
  .container.main-header__container
    .main-header__logo
      img(src="images/logo.png", alt="tewish-logo", title="Seller Tewish")
    include ../main-nav/main-nav
    .main-header__add
      include ../contacts/contacts
      include ../lang/lang
