.contacts.main-header__contacts
  ul.contacts__list
    li.contacts__item
      a.contacts__link(href="#")
        .contacts__icon.contacts__icon--telegram
          svg(width="21px", height="21px")
            use(xlink:href="#icon-telegram")
    li.contacts__item
      a.contacts__link(href="#")
        .contacts__icon.contacts__icon--steam
          svg(width="21px", height="21px")
            use(xlink:href="#icon-steam")