
.contacts__list {
  display: flex;
}

.contacts__item {
  margin-right: 4px;
}

.contacts__icon {
  padding: 7px;
  svg {
    transition: all 0.2s ease;
  }
}

.contacts__icon--steam {
  svg {
    fill: #456f85;
  }
}

.contacts__icon--telegram {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid #4c9cb6;
    box-shadow: 0 0 5px 1px #4c9cb6, inset 0 0 5px 1px #4c9cb6;
    transition: all 0.2s ease;
  }
  svg {
    fill: #4c9cb6;
  }
}

.contacts__icon--telegram:hover {
  &::before {
    box-shadow: 0 0 5px 1px #58bddd, inset 0 0 5px 1px #58bddd;
  }
  svg {
    fill: #5dbfdf;
  }
}

.contacts__icon--steam:hover {
  svg {
    fill: #00c8c9;
  }
}