section.statistics#statistics
  h2.title.statistics__title
    span.title__icon.statistics__title-icon
      svg(width="16px", height="9px")
        use(xlink:href="#icon-statistics-big")
    span.title__text Статистика продаж
    span.statistics__live live
  .statistics__inner
    .statistics__item
      .statistics__period Сутки
      .statistics__pieces 2800 шт
      .statistics__value 7000 $
    .statistics__item
      .statistics__period Неделя
      .statistics__pieces 10300 шт
      .statistics__value 234000 $
    .statistics__item
      .statistics__period Месяц
      .statistics__pieces 30300 шт
      .statistics__value 1423000 $
    .statistics__item
      .statistics__period Всё время
      .statistics__pieces 50000 шт
      .statistics__value 3423000 $