.assortment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.assortment__title-icon {
  margin-right: 15px;
}

.assortment__title {
  margin-top: 5px;
}

.assortment__box {
  margin-top: 25px;
  width: 100%;
  position: relative;
}