section.assortment#assortment
  h2.title.assortment__title
    span.title__icon.assortment__title-icon
      svg(width="24px", height="21px")
        use(xlink:href="#icon-assortment-big")
    span.title__text Ассортимент
  include ../games/games
  .assortment__box
    include ../filters/filters
    include ../catalog/catalog
    include ../pop-up/pop-up
    include ../loader/loader
    include ../all-sale/all-sale
  include ../pagination/pagination