.item-buy.main-nav__item-buy
  .item-buy__angle-l
  .item-buy__angle-r
  .item-buy__arrow-top
  .item-buy__item.item-buy__item-pieces 12 0000 <span class="item-buy__item-symbol"> шт</span>
    .item-buy__arrow
  .item-buy__item.item-buy__item-value 450 000 <span class="item-buy__item-symbol"> &#8381;</span>