.item-buy {
  position: absolute;
  top: calc(100% + 6px);
  display: flex;
  justify-content: center;
  padding: 3px;
  height: 26px;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #00def6, #00fcca);
  box-shadow: 0 0 10px 1px rgba($color: #00dafc, $alpha: 1);
}

.item-buy__arrow-top {
  position: absolute;
  bottom: 100%;
  left: 50%;
  top: -4.5px;
  width: 9px;
  height: 9px;
  margin-left: -6px;
  background-color: #00efdc;
  transform: rotate(45deg);
  box-shadow: 0 0 10px 2px rgba($color: #00dafc, $alpha: 1);
  z-index: -1;
}

.item-buy__item {
  flex-shrink: 0;
  font-weight: 700;
}

.item-buy__item-pieces {
  position: relative;
  padding-right: 12px;
  z-index: 2;
  .item-buy__item-symbol {
    font-weight: 400;
  }
}

.item-buy__arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 1px;
  background-color: #173144;
  &::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 1px;
    background-color: #173144;
    transform: rotate(35deg);
    right: 0px;
    top: 0px;
  }
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 1px;
    background-color: #173144;
    transform: rotate(-35deg);
    right: 0px;
    bottom: 0px;
  }
}

.item-buy__item-value {
  padding-left: 4px;
  .item-buy__item-symbol {
    font-size: 15px;
  }
}

.item-buy__angle-l {
  position: absolute;
  top: 0;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 26px solid #00def6;
  border-left: 26px solid transparent;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 22px;
    top: -26px;
    left: -13px;
    background-color: transparent;
    transform: skewX(45deg);
    box-shadow: -3px 0 10px 1px rgba($color: #00def6, $alpha: 0.8);
    z-index: -1;
  }
}

.item-buy__angle-r {
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 26px solid #00fcca;
  border-right: 26px solid transparent;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 22px;
    top: -26px;
    right: -13px;
    background-color: transparent;
    transform: skewX(-45deg);
    box-shadow: 3px 0 10px 1px rgba($color: #00def6, $alpha: 0.8);
    z-index: -1;
  }
}