.all-sale.hidden
  .all-sale__inner
    .all-sale__icon
      svg.all-sale__icon( width="331px", height="141px")
        use(xlink:href="#icon-all-sale")
    p.all-sale__text Предметов нет в наличии <span class="all-sale__text-big">все продано</span>
