section.guarantees#guarantees
  h2.title.guarantees__title
    span.title__icon.guarantees__title-icon
      svg(width="17px", height="17px")
        use(xlink:href="#icon-guarantees-big-top")
      svg(width="13px", height="14px")
        use(xlink:href="#icon-guarantees-big-bot")
    span.title__text Гарантии
  p.guarantees__intro Основными нашими гарантиями являются
  .guarantees__list
    .guarantees__deposit
      .guarantees__deposit-item
        p.guarantees__deposit-text
          <span class="guarantees__deposit-value"> 140 000 <span class="guarantees__deposit-symbol"> &#8381; </span></span> Суммарного депозита <br> на GoodLuck
      .guarantees__deposit-item
        .guarantees__deposit-icon
        p.guarantees__deposit-text
          <span class="guarantees__deposit-value"> 30 000 <span class="guarantees__deposit-symbol"> &#8381; </span></span> депозит
      .guarantees__deposit-item
        .guarantees__deposit-icon
        p.guarantees__deposit-text
          <span class="guarantees__deposit-value"> 110 000 <span class="guarantees__deposit-symbol"> &#8381; </span></span> депозит
    .guarantees__sales.guarantees__card
      .guarantees__sales-icon
      p.guarantees__sales-text <span class="guarantees__sales-value">$ 7000</span> продано за все время
    a.guarantees__reviews.guarantees__card(href="#")
      .guarantees__reviews-icon
      p.guarantees__reviews-text Отзывы на <span class="guarantees__reviews-gl">GoodLuck</span> <span class="guarantees__reviews-yh">YouHuck.ru</span>
    .guarantees__goodluck.guarantees__card
      .guarantees__goodluck-icon
      p.guarantees__goodluck-text Сотрудничество c главным модератором <span class="guarantees__goodluck-gl">GoodLuck</span> <span class="guarantees__goodluck-yh">YouHuck.ru</span>
    a.guarantees__cashrep.guarantees__card(href="#")
      .guarantees__cashrep-icon
      p.guarantees__cashrep-text Отзывы на CashRep