.guarantees {
  margin-bottom: 60px;
}

.guarantees__title {
  margin-bottom: 23px;
}

.guarantees__title-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  svg:last-child {
    margin-top: -4px;
  }
}

.guarantees__intro {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
  letter-spacing: -0.2px;
}

.guarantees__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.guarantees__deposit {
  box-sizing: border-box;
  width: 239px;
  min-height: 210px;
  margin-right: 1px; // for IE
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    height: 210px;
  }
}

.guarantees__deposit-item {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 12px;
  justify-content: flex-start;
  height: 60px;
  align-items: center;
  background-color: #2c5165;
  margin-bottom: 1px;
  &:last-child {
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.guarantees__deposit-item:first-child {
  height: 88px;
  background-color: #1c354c;
  padding: 17px 15px;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  .guarantees__deposit-text {}
  .guarantees__deposit-value {
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 7px;
  }
  .guarantees__deposit-symbol {
    font-size: 19px;
  }
}

.guarantees__deposit-value {
  display: block;
  line-height: 15px;
  font-weight: 700;
}

.guarantees__deposit-symbol {
  font-size: 15px;
  line-height: 15px;
}

.guarantees__deposit-text {
  color: #399eb4;
}

.guarantees__deposit-icon {
  width: 91px;
  height: 22px;
  margin-left: 15px;
  margin-right: 22px;
  background: url("../images/icons/sprites.png") -20px -370px no-repeat;
}

.guarantees__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 239px;
  max-width: 100%;
  min-height: 210px;
  padding: 19px;
  margin-right: 1px;
  background-color: #224b66;
  transition: all 0.2s ease;
  &:hover {
    background-color: #285878;
  } //for IE
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    height: 210px;
  }
}

.guarantees__sales-text {
  color: #00f6ff;
  text-align: center;
}

.guarantees__sales-value {
  font-size: 24px;
  display: block;
  margin-bottom: 8px;
}

.guarantees__sales-icon {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 5px;
  background: url("../images/icons/sprites.png") -20px -733px no-repeat;
}

.guarantees__reviews:hover {
  .guarantees__reviews-gl {
    display: none;
  }
  .guarantees__reviews-yh {
    display: inline;
  }
}

.guarantees__reviews-icon {
  width: 82px;
  height: 82px;
  margin-top: 20px;
  margin-bottom: 7px;
  background: url("../images/icons/sprites.png") -20px -853px no-repeat;
}

.guarantees__reviews-text {
  position: relative;
  color: #00f6ff;
  text-align: center;
}

.guarantees__reviews-yh {
  display: none;
}

.guarantees__goodluck:hover {
  .guarantees__goodluck-gl {
    display: none;
  }
  .guarantees__goodluck-yh {
    display: inline;
  }
  .guarantees__goodluck-icon {
    background-position: 0 -550px;
  }
}

.guarantees__goodluck-icon {
  width: 168px;
  height: 67px;
  margin-top: 34px;
  margin-bottom: 7px;
  background-image: url("../images/icons/sprites.png");
  background-repeat: no-repeat;
  background-position: -20px -626px;
}

.guarantees__goodluck-text {
  position: relative;
  color: #00f6ff;
  text-align: center;
  max-width: 100%;
}

.guarantees__goodluck-yh {
  display: none;
}

.guarantees__cashrep {}

.guarantees__cashrep-icon {
  width: 106px;
  height: 109px;
  background: url("../images/icons/sprites.png") -20px -975px no-repeat;
}

.guarantees__cashrep-text {
  position: relative;
  color: #00f6ff;
  text-align: center;
}