.filter-bots.filters__item  
  .filter-bots__text Боты
  .filter-bots__drop
    .filter-bots__top
      a.filter-bots__all(href="#") Все боты
    table.filter-bots__table
      tr
        td.filter-bots__cell
          .filter-bots__value 1
          .filter-bots__sup 500
        td.filter-bots__cell
          .filter-bots__value 2
          .filter-bots__sup 500
        td.filter-bots__cell
          .filter-bots__value 3
          .filter-bots__sup 500
        td.filter-bots__cell
          .filter-bots__value 4
          .filter-bots__sup 500
      tr
        td.filter-bots__cell
          .filter-bots__value 5
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 6
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 7
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 8
          .filter-bots__sup 80
      tr
        td.filter-bots__cell
          .filter-bots__value 9
          .filter-bots__sup 600
        td.filter-bots__cell
          .filter-bots__value 10
          .filter-bots__sup 600
        td.filter-bots__cell
          .filter-bots__value 11
          .filter-bots__sup 600
        td.filter-bots__cell
          .filter-bots__value 12
          .filter-bots__sup 600
      tr
        td.filter-bots__cell
          .filter-bots__value 13
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 14
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 15
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 16
          .filter-bots__sup 80
      tr
        td.filter-bots__cell
          .filter-bots__value 17
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 18
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 19
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 20
          .filter-bots__sup 80
      tr
        td.filter-bots__cell
          .filter-bots__value 21
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 22
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 23
          .filter-bots__sup 80
        td.filter-bots__cell
          .filter-bots__value 24
          .filter-bots__sup 80