.filter-resize {
  cursor: pointer;
}

.filter-resize__icon {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #399eb4;
  border-radius: 50%;
  svg {
    position: absolute;
    top: 2px;
    left: 1px;
    fill: #399eb4;
    display: none;
  }
}

.filter-resize:hover {
  .filter-resize__icon {
    border-color: #5cbddd;
    svg {
      fill: #5cbddd;
    }
  }
}

.filter-resize.big {
  .filter-resize__big {
    display: block;
  }
}

.filter-resize.small {
  .filter-resize__small {
    display: block;
  }
}