.filter-resize.filters__item.big
  .filter-resize__icon
    svg.filter-resize__big(width="16px", height="16px")
      use(xlink:href="#icon-resize-big")
    svg.filter-resize__small(width="16px", height="16px")
      use(xlink:href="#icon-resize-small")