mixin product(quality, st, blocked, time, ...stickers)
  if blocked
    -var className = "product catalog__product block"
  else 
    -var className = "product catalog__product"

  article(class= className)
    .product__top
      .product__quality= quality 
      if st 
        .product__stattrack st 
      if blocked
        .product__block
          svg(width="48px", height="15px")
            use(xlink:href="#icon-block")
    .product__weapon
      img(src="images/weapon-1.png", alt="weapon")
    .product__bottom
      if time
        .product__time= time
      .product__stickers
        each item in stickers
          .product__sticker
            img(src=item, alt="stiker")
    .product__overlay
      button.product__btn inspect
      
      
        
      
