.product {
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  background-color: #275262;
  overflow: hidden;
}
.product.block {
  .product__weapon {
    img {
      opacity: 0.4;
    }
  }
  .product__block {
    display: block;
  }
  .product__stattrack {
    display: none;
  }
}

// .product:hover {
//   .product__overlay {
//     opacity: 1;
//     visibility: visible;
//   }
//   .product__btn {
//     transform: scale(1);
//   }
// }
.product.inspect {
  .product__overlay {
    opacity: 1;
    visibility: visible;
  }
  .product__btn {
    transform: scale(1);
  }
}

.product__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color: #105b56, $alpha: 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.product__btn {
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  outline: none;
  width: 90px;
  padding: 6px 10px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background: linear-gradient(to right, #ead903, #e6d203);
  box-shadow: 0 0 10px 3px rgba($color: #deff00, $alpha: 0.5);
  cursor: pointer;
  transform: scale(0);
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 15px 5px rgba($color: #deff00, $alpha: 0.5);
  }
}

.product__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__block {
  width: 48px;
  height: 15px;
  display: none;
  svg {
    fill: #ffb202;
    width: 100%;
    height: 100%;
  }
}

.product__quality {
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.product__stattrack {
  position: absolute;
  top: 5px;
  right: -37px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 100px;
  transform: rotate(45deg);
  background-color: #43853f;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0 1px 3px 0 #000000;
}

.product__weapon {
  width: 100%;
}

.product__bottom {
  position: relative;
  padding-top: 4px;
}

.product__stickers {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -2px;
}

.product__sticker {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 4px;
  flex-shrink: 0;
  &:last-child {
    margin-right: 0;
  }
}

.product__time {
  position: absolute;
  bottom: 100%;
  border-radius: 12px;
  padding: 3px 8px;
  background-color: #102537;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
}